<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NeuroClinic | @yield('title') </title>
</head>
<body class="bg-cyan-100">
    <header class="bg-cyan-600">
        <div class="bg-cyan-600 h-100">
            <img src="images/logo_bianco.svg" class="object-center">
            <h1>Testo di prova</h1>
        </div>
    </header>
</body>
</html>